{% extends "layout.html" %}

{% block content %}
        <section class="header">
            <h1>James Rouse</h1>
            <p>My current goal is to finish this Techdegree.</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="/static/images/crossed-out-python.jpg" alt="Crossed out python snake">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>Python actually means two things.</h2>
            <p>
                I started this Techdegree thinking I was going to learn more
                about the reptile known as a "python". I was wrong.
            </p>
            <p>
                Now I know that "python" doesn't just refer to that
                aformentioned animal; but as well, to a programming language,
                within which I am now to some degree proficient.
            </p>
            <a href="https://github.com/James-Rouse"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}