{% extends "layout.html" %}

{% block content %}
        <section class="header">
            <h1>Python Developer</h1>
            <p>I couldn't get a pet python, so this was my best alternative.</p>
            <img src="/static/images/e88ee8e3917f3bd6a99e3de29966f73b.jpg" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2>About Me</h2>
            <p>
                Some big bang happened a while ago, and stuff flung around for
                a long time until it started to clump together, and then the
                bigger clumps started absorbing all the other clumps, and then
                some smaller clumps on one of the big clumps clumped together into me. At least
                that's what I'm told.
            </p>
            <div id="triangle1"></div>
            <div id="triangle2"></div>
        </section>
        <section id="skills">
            <i class="fas fa-laptop-code"></i>
            <h2>Skills</h2>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>GitHub</li>
                <li>Visual Studio Code</li>
            </ul>
        </section>
        <section id="projects">
            <div id="triangle3"></div>
            <i class="fas fa-file-code"></i>
            <h2>Projects</h2>
            <div id="project-list">
                {% for project in portfolio %}
                    <div id="project1" class="a-project">
                        <h3>{{ project.title }}</h3>
                        <a href="{{ project.github }}" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>
                            {{ project.description }}
                        </p>
                        <p>
                            {{ project.skills }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div id="triangle4"></div>
        </section>
        <section id="contact">
            <i class="fas fa-paper-plane"></i>
            <h2>Don't Contact Me</h2>
            <p>
                I have social anxiety. Pls.
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                not_my_email@email.com
            </p>
        </section>
{% endblock %}